<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- TODO: Uncomment the below lines for enabling app insights-->
    <!--<add key="InstrumentationKey" value="46bbaaa5-1296-42af-a482-67658b6a78ff" />-->

    <!-- Put sql, azuresql, windows as values for authentication mode-->
    <!-- Uncomment this for azure sql mode-->
    <!--<add key="AuthenticationMode" value="azuresql" />
    <add key="SqlServerName" value="dojo-bookings-server-dev" />
    <add key="DatabaseName" value="dojo-bookings-db-dev" />-->

    <!-- Uncomment this for windows mode-->
    <!--<add key="AuthenticationMode" value="windows"/>
    <add key="SqlServerName" value=".\sqlexpress"/>
    <add key="DatabaseName" value="dojo-bookings-db-local"/>-->

    <!-- Uncomment this for local sql mode-->
    <add key="AuthenticationMode" value="sql"/>
    <add key="SqlServerName" value=".\sqlexpress"/>
    <add key="DatabaseName" value="dojo-bookings-db-local"/>

    <!-- Comment the below two lines for using keyvault to fetch secrets-->
    <!--<add key="AdministratorLogin" value="{your_username}"/>
    <add key="AdministratorLoginPassword" value="{your_password}"/>-->

    <!-- TODO: Uncomment the below four lines for enabling key vault to fetch secrets-->
    <add key="KeyVaultUri" value="https://dojo-kv-dev.vault.azure.net/"/>
    <add key="ServicePrincipalClientId" value=""/>
    <add key="ServicePrincipalPassword" value=""/>
    <add key="TenantId" value="72f988bf-86f1-41af-91ab-2d7cd011db47"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
  </system.web>
</configuration>